.important {
    color: red;
    font-style: italic;
}

.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.img {
    width: 30%;
    float: inline-start;
    margin: auto;
}

.attention {
    font-weight: bold;
    font-style: normal;
    border: 5px solid black;
    display: inline-block;
}

.Num {
    list-style: upper-roman;
}

.bgb {
    background-color: blueviolet;
    color: black;
    margin-top: auto;
}

.column {
    width: 50%;
    flex-wrap: wrap;
}

.Topper {
    text-decoration: underline;
    display: inline-block;
}

.box1 {
    border: 5px solid black;
    display: inline-block;
    float: none
}