.important {
    color: red;
    font-style: italic;
}

.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    margin: auto;
}

.img {
    width: 20%;
    float: left;
    margin: auto;
}

.attention {
    font-weight: bold;
    font-style: normal;
}

.Num {
    list-style: upper-roman;
}