.important {
    color: red;
    font-style: italic;
}

.body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.img {
    width: 50%;
    float: left;
}

.attention {
    font-weight: bold;
    font-style: normal;
}